html, body {
  width: 100%;
  height: 100%;
  margin:0px;
  padding:0px;
  overflow-x: hidden;
}

header {
  transition: background-image 2s;
}

header input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 3px;
  font: inherit;
  color: currentColor;
  width: 1.4em;
  height: 1.4em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  border: solid #fff;
}

header input[type="radio"]:checked {
  background-color: burlywood;
}

.buttons {
  position: absolute;
  margin-top:32%;
  margin-left:45%;
}

nav section {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
}


nav article {
  display: flex;
  flex-wrap: wrap;
  padding-top:1rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  width:500px;
}

nav img {
  height: 70px;
  width:70px;
  filter: drop-shadow(2px 1px rgb(65, 65, 65));
}

nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li{
  list-style: none;
  margin: 0 20px;
  transition: .5s;
}
nav ul li a{
  display: block;
  position: relative;
  text-decoration: none;
  padding: 0.5rem;
  margin-top:1rem;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  text-transform: uppercase;
  transition: .5s;
}

nav ul:hover li a{
  transform: scale(1.2);
  opacity: 0.2s;
  filter: blur(5px);
}

nav ul li a:hover{
  transform: scale(1.5);
  opacity: 1;
  filter: blur(0);
  text-decoration: none;
  color: #fff;
}

nav ul li a:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f70233;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

nav ul li a:hover:before{
  transition: transform 0.5;
  transform-origin: left;
  transform: scaleX(1);
}

nav h1 {
  margin:1.2rem;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
}

@media all and (max-width: 1920px) {
  nav article {
    max-width: 900px;
    min-width:600px;
  }
}

@media all and (max-width: 1200px) {
  nav article {
    width: 100%;
    margin-top:0;
  }
  nav ul li a{
    padding: 0.5rem;
    margin-top:0rem;
  }
}

@media all and (max-width: 600px) {
  nav article {
    width: 100%;
    margin-top:0;
  }
  nav ul li a{
    padding: 0.5rem;
    margin-top:0rem;
  }
  nav ul li a{
    font-size: 4vw;
    padding: 0.5vw;
    margin-top:0vw;
  }
}

